#fountainTextG{
	width:234px;
	margin:auto;
}

.fountainTextG{
	color:rgb(0,0,0);
	font-family: Arial, sans-serif;
	font-size:24px;
	text-decoration:none;
	font-weight:normal;
	font-style:normal;
	float:left;
	animation-name:bounce_fountainTextG;
		-o-animation-name:bounce_fountainTextG;
		-ms-animation-name:bounce_fountainTextG;
		-webkit-animation-name:bounce_fountainTextG;
		-moz-animation-name:bounce_fountainTextG;
	animation-duration:1.181s;
		-o-animation-duration:1.181s;
		-ms-animation-duration:1.181s;
		-webkit-animation-duration:1.181s;
		-moz-animation-duration:1.181s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.5);
		-o-transform:scale(.5);
		-ms-transform:scale(.5);
		-webkit-transform:scale(.5);
		-moz-transform:scale(.5);
}#fountainTextG_1{
	animation-delay:0.4225s;
		-o-animation-delay:0.4225s;
		-ms-animation-delay:0.4225s;
		-webkit-animation-delay:0.4225s;
		-moz-animation-delay:0.4225s;
}
#fountainTextG_2{
	animation-delay:0.509s;
		-o-animation-delay:0.509s;
		-ms-animation-delay:0.509s;
		-webkit-animation-delay:0.509s;
		-moz-animation-delay:0.509s;
}
#fountainTextG_3{
	animation-delay:0.5955s;
		-o-animation-delay:0.5955s;
		-ms-animation-delay:0.5955s;
		-webkit-animation-delay:0.5955s;
		-moz-animation-delay:0.5955s;
}
#fountainTextG_4{
	animation-delay:0.672s;
		-o-animation-delay:0.672s;
		-ms-animation-delay:0.672s;
		-webkit-animation-delay:0.672s;
		-moz-animation-delay:0.672s;
}
#fountainTextG_5{
	animation-delay:0.7585s;
		-o-animation-delay:0.7585s;
		-ms-animation-delay:0.7585s;
		-webkit-animation-delay:0.7585s;
		-moz-animation-delay:0.7585s;
}
#fountainTextG_6{
	animation-delay:0.845s;
		-o-animation-delay:0.845s;
		-ms-animation-delay:0.845s;
		-webkit-animation-delay:0.845s;
		-moz-animation-delay:0.845s;
}
#fountainTextG_7{
	animation-delay:0.9315s;
		-o-animation-delay:0.9315s;
		-ms-animation-delay:0.9315s;
		-webkit-animation-delay:0.9315s;
		-moz-animation-delay:0.9315s;
}
#fountainTextG_8{
	animation-delay:1.018s;
		-o-animation-delay:1.018s;
		-ms-animation-delay:1.018s;
		-webkit-animation-delay:1.018s;
		-moz-animation-delay:1.018s;
}
#fountainTextG_9{
	animation-delay:1.0945s;
		-o-animation-delay:1.0945s;
		-ms-animation-delay:1.0945s;
		-webkit-animation-delay:1.0945s;
		-moz-animation-delay:1.0945s;
}
#fountainTextG_10{
	animation-delay:1.181s;
		-o-animation-delay:1.181s;
		-ms-animation-delay:1.181s;
		-webkit-animation-delay:1.181s;
		-moz-animation-delay:1.181s;
}
#fountainTextG_11{
	animation-delay:1.2675s;
		-o-animation-delay:1.2675s;
		-ms-animation-delay:1.2675s;
		-webkit-animation-delay:1.2675s;
		-moz-animation-delay:1.2675s;
}
#fountainTextG_12{
	animation-delay:1.354s;
		-o-animation-delay:1.354s;
		-ms-animation-delay:1.354s;
		-webkit-animation-delay:1.354s;
		-moz-animation-delay:1.354s;
}




@keyframes bounce_fountainTextG{
	0%{
		transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainTextG{
	0%{
		-o-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-o-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainTextG{
	0%{
		-ms-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-ms-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainTextG{
	0%{
		-webkit-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-webkit-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainTextG{
	0%{
		-moz-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-moz-transform:scale(.5);
		color:rgb(255,255,255);
	}
}
